include mixins

doctype html
html(lang='sv')
	head
		title Gryningsljus
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width' initial-scale=1 maximum-scale=1 user-scalable='no')
		link(rel='stylesheet' href='vendor.css')
		script(src='vendor.js')
		link(rel='stylesheet' href='app.css')
		script(src='app.js')
	
	body#body
		a(href="")#nav_button
			img(src="menu.svg", alt="Visa navigationsmenyn")
		+navigation("top")
		+navigation("fixed")

		main
			section#header
				h1.title Gryningsljus
			
			section.main
				p.copy En hvb-verksamhet med familjär atmosfär för ensamkommande asylsökande och för de som erhållit permanent uppehållstillstånd. Vi tar emot pojkar mellan 14 – 19 år.
				p.copy 

				h3 Kvalitet
				p.copy Kvalitet för oss är att uppfylla uppdragsgivarnas krav, behov och förväntningar. De mest kostnadseffektiva processerna uppstår om man gör rätt från början och har en tydlig rollfördelning. Vi på Gryningsljus ser det som angeläget att arbeta "nära" våra uppdragsgivare.
				
				h3 Personlig inloggning
				p.copy Gryningsljus erbjuder handläggare en personlig inloggning in i vårat journalsystem. Handläggare ska på ett enkelt sätt ska kunna följa placeringens utveckling. 
				
				h3 Utslussning
				p.copy Vi erbjuder utslussning i egen regi
				
				hr
				
				p.center Tveka inte att ta kontakt om du är socialsekreterare eller god man!
				p.center Föreståndare Fredrik Danielsson 

				p.center
					a(href='tel:+46708141001') 0708 – 14 10 01
					<br />
					a(href='mailto:fredrik@gryningsljus.se') fredrik@gryningsljus.se
			
			
			section#facilities
				h2 Vårt boende

				p.copy Centralt belägget i Floby, Falköpings kommun. Närheten till kollektivtrafik gör det enkelt för våra ungdomar att resa och bekanta sig med närområdet. Det finns även dagliga förbindelser till både Skövde och Göteborg etc. vilket möjliggör förutsättning för ungdomarna att skapa ett socialt kontaktnät utanför boendet. 
				p.copy För oss är det viktigt att ungdomarna ska kunna prata sitt modersmål med personalen. Därför har vi personal som talar dari, persiska, somaliska, turkiska och syrianska.
				p.copy Gryningsljus är ett fristående HVB för ensamkommande flyktingungdomar. Vi erbjuder ett helt nybyggt boende med aktiviteter och meningsfull tillvaro med personal som brinner för att skapa en professionell relation och guida mot en god start och fortsatt liv i Sverige. 
				p.copy Med 9 platser och hög personaltäthet erbjuds var och en mycket tid och omsorg där vi kan skapa förståelse för det sammanhang den unge befinner sig i. KASAM är ett viktigt begrepp för oss.
				
				h3 Våra målsättningar är:

				ul.copy
					li Att för våra ensamkommande ungdomar vara ett boende med stor möjlighet till individuell utveckling och aktivt integrationsarbete där de trivs och möts med respekt och värdighet.
					li Att ha nöjda uppdragsgivare genom att vara en tydlig och attraktiv samarbetspartner som står för omsorg av hög kvalitet.
					li Att för vår personal vara en attraktiv arbetsgivare med bra bemanning, rätt kompetens och utvecklingsinriktat ledarskap där varje medarbetare kan utvecklas och påverka arbetet.
			
				img.copy(src="interior.png", alt="Bilder från Floby.")
				

			section#operation
				h2 Vår verksamhet
				img.copy(src="ledord.png", alt="Vårt erbjudande")
				
				p.copy Verksamheten tar emot barn och ungdomar för att erbjuda boende, integration och omsorg. En stabil struktur vilandes på en miljöterapeutisk grund är nyckeln för att lyckas. Viktigt för oss är att den unge ska känna sig trygg i hemmamiljön. En tydlig och strukturerad miljö bidrar till att den unge kan fokusera på sig själv och det som för den enskilde är viktigt, till exempel utbildning och en meningsfull fritid.
				p.copy Vi upprättar genomförandeplaner utifrån BBIC i samverkan med den unge, god man/ställföreträdande vårdnadshavare och placerande socialtjänst.
				p.copy Pojkarnas vecka planeras utifrån ett veckoschema i syfte att strukturera vardagen. Verksamheten ansvarar för att kontaktperson och den unge planerar i samverkan tid för veckosamtal för uppföljning av föregående vecka samt planering för kommande.

				h3 För oss innebär ett miljöterapeutiskt perspektiv:

				ul.copy
					li Öppen kommunikation. Kommunikationen ska vara öppen i alla riktningar.
					li Demokrati. Medbestämmande.
					li Den unge stöttas i att aktivt lära och utvecklas.
					li Vardagssituationer utnyttjas i integrationssyfte.
					li Personalen och den unge samverkar på alla plan mot gemensamma mål.
					li Boendet får inte vara en isolerad ö; verksamheten måste bedrivas i ständig kontakt med samhället och människor utanför.
				
				
			section#staff
				h2 Vår personal
				p.copy Personalen har lång erfarenhet av att arbeta med ensamkommande barn och ungdomar, vissa har upp till 20 års erfarenhet av socialt arbete. Personalgruppen är sammansatt så att den speglar samhället då vår utgångspunkt är att detta skapar goda förutsättningar för trygghet och integration. Personalgruppen har tillsammans en bred kulturell kompetens utifrån olika bakgrund och kunskap om flyktingskap, migration och integration. Kunskapen skapar möjlighet att särskilja vad i ungdomens beteende som är kulturellt betingat och vad som är individuellt. I personalgruppen finns utbildningar som behandlingspedagog, fritidsledare och undersköterska. Vi har hög personaltäthet och förstärker vid behov för att skapa en trygg och säker boendemiljö. Med ledorden närvaro och relation i vårt pedagogiska förhållningssätt kan vi tidigt möta problem och hjälpa ungdomarna fram till egna lösningar  som är bra för dem och deras situation.
				p.copy Vi väljer vår personal med stor omsorg och vill att de ska fungera som förebilder för våra ungdomar. Tack vare en sammansvetsad personalgrupp med mångårig erfarenhet kan vi ta emot ungdomar som behöver mycket stöd och omsorg.
				img.center(src="ubuntu.png", alt="Gemenskap och sammarbete" style="width: 300px")


			section#partners
				h2 Samarbetspartners
				p.copy Gryningsljus samarbetar med socionom Eva-Stina Premberg. Eva-Stina har mångårig erfarenhet av att arbeta som verksamhetschef, sektionschef samt chefskonsult inom familj- och individomsorg.
				p.copy Gryningsljus samarbetar med en legitimerad psykoterapeut och handledare. Certifierad inom EMDR för vuxna och barn. Specialiserad inom bl. a. traumabehandling och har erfarenhet av psykoterapeutisk behandling av flyktingar, krigs- och tortyrskadade, vuxna, ungdomar och familjer sedan 2008.

			
			section#we_at
				h2 Vi på Gryningsljus
				each contact in locals.contacts
					+contactCard(contact)
			
			
			section#affiliates
				p I sammarbete med:
				#logos
					a.kfo(href='https://www.kfo.se')
						img(src="kfo.png", alt="Arbetsgivarföreningen KFO")
					a.aiai(href='https://www.aiai.se')
						img(src="aiai.png", alt="Administrationsverktyget AIAI")
				//- p Vi inväntar tillstånd från Inspektionen för Vård och Omsorg
			
			
			section#contact
				h2 Kontakt
				p.orgnr Org.nr: 556852-0315
				
				#mainoffice
					a(href='tel:+46768695000') Telefon: 076 869 5000
					a(href='mailto:info@hemmalaget.se') E-post: info@hemmalaget.se
					
					p.address Box 25<br/>441 35 Alingsås
			
			//- section#attribution
			//- 	a(href="https://www.linkedin.com/in/dnjstrom" target="_blank") Built with <span class="heart">❤</span> by Daniel Ström
			
		script(type'text/javascript') require("main");
