@import 'globals'

#header
	position relative
	width 100%
	background-color main
	background-image url(header.png)
	background-position center
	background-size cover
	height 15rem
	+above(tablet+1)
		height 20rem

	.logo
		padding 0
		margin 0
		font-size 2rem
		font-weight 400
		+above(tablet+1)
			position absolute
			top 1rem
			right 1rem

	.title
		position absolute
		bottom 1rem
		left 1rem
		padding 0
		margin 0
		font-size 4.1rem
		font-weight 200
		+below(550px)
			font-size 3.5rem
		+below(500px)
			font-size 3rem
		+below(420px)
			font-size 2.8rem
